.vs/
.vscode/
AAEmu.Commons/obj/
AAEmu.Game/obj/
AAEmu.Stream/obj/

AAEmu.LoginServer/obj/
AAEmu.LoginServer/bin/
AAEmu.GameServer/obj/
AAEmu.GameServer/bin/
AAEmu.Shared/obj/
AAEmu.Shared/bin/

.idea/
AAEmu.Commons/bin/
AAEmu.Game/bin/
AAEmu.Stream/bin/
AAEmu.Login/bin/
AAEmu.Login/obj/
AAEmu.Game/Data/compact.sqlite3
AAEmu.Game/Data/Worlds/*/hmap.dat
AAEmu.Game/Config.json
AAEmu.Login/Config.json
publish/
*.old
*.bak
